.footer {
  background-color: #f4f1ed;
  width: 100%;
  background-size: cover;
  margin: auto;
  padding-bottom: 2%;
  &__nav {
    display: flex;
    padding-top: 2%;
    background-color: #f4f1ed;
    margin: 0% 5% 0% 5%;
    background-size: cover;
    &-icons {
      display: flex;
      gap: 5%;
      flex-basis: 50%;
      justify-content: flex-end;
    }
    &-panel {
      @extend %flex-element-center;
      flex-basis: 50%;
      justify-content: space-between;
    }
  }
  &__line {
    margin-bottom: 1%;
    margin-top: 2%;
    width: 100%;
    border: 1px solid #d1d1d1;
  }
  &__bottompanel {
    font-size: 12px;
    color: #959595;
    @extend %flex-element-center;
    justify-content: space-between;
    &-lefttxt {
      font-size: 12px;
      color: #959595;
      display: flex;
      gap: 1%;
      flex-basis: 50%;
      margin-left: 5%;
    }
    &-mark::after {
      content: "\00A9 ";
      color: #9a9da0;
    }
    &-righttxt {
      display: flex;
      font-size: 12px;
      color: #959595;
      margin-right: 5%;
    }
  }
  &__link {
    &:hover {
      color: white;
      text-shadow: 1px 2px 2px grey;
      cursor: pointer;
    }
  }
}
