.header {
  background-image: url(/images/background-1.png);
  background-size: cover;
  width: 100%;
  margin: 0;
  margin-bottom: 4%;
  padding-bottom: 3%;
  &__nav {
    padding: 3% 3% 4% 3%;
    display: flex;
    &-logo {
      display: flex;
      align-items: start;
      flex-basis: 60%;
    }
    &-panel {
      display: flex;
      justify-content: space-between;
      flex-basis: 40%;
    }
  }
  &__banner {
    @extend %flex-element-center;
    gap: 2%;
    justify-content: center;
    &-description1 {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    &-description {
      @extend %flex-element-center;
      flex-direction: column;
      text-align: center;
    }
    &-images {
      width: 100%;
      margin-bottom: 4%;
    }
    &-txt {
      display: flex;
      justify-content: space-between;
    }
  }
  &__link {
    &:hover {
      color: white;
      text-shadow: 1px 2px 2px grey;
      cursor: pointer;
    }
  }
}
